/*
CSS Reset
*/

/** 清除内外边距 **/
body, div, p, h1, h2, h3, h4, h5, h6, blockquote,  /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre,  /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea,  /* form elements 表单元素 */
table,th,td /* table elements 表格元素 */{
	margin:0;
	padding:0;
}

body,button,input, select,textarea{
    font:12px/1.5 Caslon224Std-Book, "Microsoft Yahei", arial, "宋体" ,sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; line-height: 1; font-weight:normal }
address, cite, em, i { font-style: normal; } /* 将斜体扶正 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
li { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }

/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; line-height:normal; } /* 使得表单元素在 ie 下能继承字体大小 */

/** 重置表格元素 **/
table{ border-collapse: collapse; border-spacing: 0; }
input[type="button"],input[type="submit"],input[type="reset"]{cursor:pointer;}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
	display:block;
}

/* 清理浮动 */
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.clearfix {
	zoom:1; /* for IE6 IE7 */
}
.fn-hide {
	display:none;
}

